$ff-main: "Manrope", sans-serif;
$fs-title: 1.5rem; // 24px
$fs-body: 0.813rem; // 13px
$shadow: 0px 40px 40px -10px rgba(#C9D5E1, 0.5);

$grey-900: #48556A;
$grey-500: #6E8098;
$grey-400: #9DAEC2;
$grey-200: #ECF2F8;
$white: #FFFFFF;

$space-0: 0; // 0px
$space-200: 1rem; // 16px
$space-300: 1.5rem; // 24px
$space-400: 2rem; // 32px
$space-500: 2.5rem; // 40px
$space-600: 3rem; // 48px
$space-700: 3.5rem; // 56px
$space-800: 4rem; // 64px
$space-1300: 6.5rem; // 104px
$space-2000: 10rem; // 160px