@use 'reset' as *;
@use 'variables' as *;

body {
    display: grid;
    place-items: center;
    background-color: $grey-200;
    color: $grey-500;
    font-family: $ff-main;
    font-size: $fs-body;
    font-weight: 500;
    letter-spacing: 0.12em;
    padding: $space-300;
}

main {
    display: flex;
    justify-content: center;
}

.card {
    background-color: $white;
    border-radius: 10px;
    box-shadow: $shadow;
    max-width: clamp(38rem, 29.2857rem + 18.1548vw, 45.625rem);

    &__img {
        max-height: 12.5rem;
        width: 100%;
        object-fit: cover;
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
    }

    &__text {
        padding: $space-400 clamp(0.625rem, -6.6477rem + 36.3636vw, $space-400);
    }

    &__title {
        color: $grey-900;
        font-size: $fs-title;
        font-weight: 700;
        letter-spacing: 0.0125em;
        line-height: 1.3;
        margin-bottom: $space-300;
    }

    &__profile {
        display: flex;
        gap: $space-200;
    }

    &__profile-avatar {
        border-radius: 9999px;
        width: 40px;
    }

    &__profile-name {
        font-weight: 700;
        color: $grey-900;
    }

    &__profile-date {
        color: $grey-400;
    }

    &__btn {
        border: transparent;
        border-radius: 9999px;
        background-color: $grey-200;
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 30%;
        right: clamp(0.625rem, -6.6477rem + 36.3636vw, 1.875rem);
        z-index: 1;
        outline-color: $grey-500;
        outline-offset: 2px;
        cursor: pointer;

        & > svg > path {
            fill: $grey-500;
        }

        &:is(:hover, :focus) {
            cursor: pointer;
            background-color: $grey-500;

            & > svg > path {
                fill: $white;
            }
        }

        &--active {
            background-color: $grey-500;

            & > svg > path {
                fill: $white;
            }
        }
    }

    &__share {
        position: relative;
        padding: $space-200 clamp(0.625rem, -6.6477rem + 36.3636vw, $space-400) 1.125rem;
    }

    &__share-dialog {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        border: transparent;
    }

    &__share-toast {
        display: flex;
        height: 100%;
        gap: $space-300;
        align-items: center;
        background-color: $grey-900;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: $space-300 clamp(0.625rem, -6.6477rem + 36.3636vw, $space-400);
    }

    &__share-text {
        color: $grey-400;
        font-size: $fs-body;
        letter-spacing: 0.25em;
        text-transform: uppercase;
    }

    .socials {
        display: flex;
        align-items: center;
        gap: $space-200;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: $space-200;
    }

    &__social-links {
        outline-color: $grey-500;
    }

    @media screen and (min-width: 48rem) {
        display: grid;
        grid-template-columns: 1fr 2fr;

        &__img {
            max-height: 100%;
            height: 100%;
            border-radius: 0;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
        }

        &__content {
            padding: 1.875rem 2.5rem;
        }

        &__text {
            margin-bottom: $space-300;
        }

        &__text, &__share {
            padding: 0;
        }

        &__btn {
            top: 10%;
            right: 0;
        }

        &__share-dialog {
            width: 15.5rem;
            top: -50px;
            left: unset;
            right: -106px;
        }

        &__share-toast {
            position: relative;
            border-radius: 10px;
            padding: 1.125rem 2.375rem;

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border: 7px solid;
                border-color: $grey-900 transparent transparent transparent;
            }
        }
    }
}
